/* Adiciona rolagem suave natural */
html {
    scroll-behavior: smooth;
}

body {
    /* REMOVIDO o SVG de ruído que causa travamento e tela branca no iPhone */
    /* Agora usamos apenas a cor de fundo definida no Tailwind */
    background-color: #F4ECE1; 
}

/* Glassmorphism na barra de navegação acompanhando o novo bege */
.glass-nav {
    background: rgba(244, 236, 225, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* Esta linha é OBRIGATÓRIA para funcionar no iPhone */
    border-bottom: 1px solid rgba(114, 28, 36, 0.05);
}

/* Custom Scrollbar Elegante (Barras de rolagem customizadas funcionam apenas em Desktop) */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

/* Fundo da barra acompanhando o novo bege */
.custom-scrollbar::-webkit-scrollbar-track {
    background: #F4ECE1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #D4AF37;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #AA8C2C;
}